<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
  <div class="container" id="app">
    <h1>{{ titre }}</h1>

    {{ message }}<br>
    <ul>
      <li v-for="person in persons"> {{ person }}</li>
    </ul>

    <input type="text" v-model="personText">
    <button type="button" name="button" @click="addPerson">Ajouter une personne</button>
    <button type="button" name="button" @click="sortPerson">Trier les personnes</button>

    <table class="table">
      <tr>
        <th></th>
        <th>First name</th>
      </tr>
      <tr v-for="(person, index) in persons">
        <td>{{ index }}</td>
        <td>{{ person }}</td>
      </tr>
    </table>

    <hr>

    <div class="alert alert-success" role="alert" v-if="success1">
      <p>
        Changement d'alert selon le state de success <button type="button" name="button" v-on:click="changestate">Changer de state</button>
      </p>
    </div>
    <div class="alert alert-danger" role="alert" v-else>
      <p>
         Alert danger <button type="button" name="button" v-on:click="changestate">Changer de state</button>
      </p>
    </div>


  </div>

  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
